*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-primario: #3498db ;
  --color-secundario: #2ecc71;
  --color-fondo:#f8f8f8;
  --color-texto:#333;
  --font-sixe-base:16px;
  --font-size-titulo:24px;
  --font-size-subtitulo:20px;
  --padding-general: 20px;
  --font-family: 'Roboto', sans-serif;
}